body {
  background: linear-gradient(
    to bottom,
    rgba(20, 17, 201, 0.801),
    rgba(13, 124, 158, 0.39),
    rgba(28, 136, 118, 0.541)
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 10px auto;
  width: 90%;
}
/*To-do: Change px to rem*/

h1,
h2 {
  text-align: center;
  font-size: 3rem;
}

img {
  display: block;
  justify-self: center;
  width: 20%;
  height: 30%;
  border-radius: 3rem;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}

li {
  font-size: 1.2rem;
}
